
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logout {
  text-decoration: none;
  width: 10vw;
  background-color: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(5px);
  color: black;
  padding: 30px 30px;
  font-size: 1.2em;
  transition-timing-function: ease-out;
    transition: 0.25s;
}
.logout:hover {
  border-radius: 30px;
  transition-timing-function: ease-in;
}
.main {
  width: 100%;
  
}
.section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
.section:nth-child(0){
  width: 100%;
  min-height: 100vh;
  background-color: rgba(50, 50, 50, 1);
}
.section:nth-child(2){
  width: 100%;
  min-height: 100vh;
  background-color: rgba(50, 50, 50, 1);
  backdrop-filter: blur(10px);
  color: white;

}
.section:nth-child(4){
  width: 100%;
  min-height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(10px);
  color: white;
}
.section:nth-child(5){
  backdrop-filter: blur(10px);
  background-color: rgba(150, 150, 150, 0.8);
}
.login {
  
}
.fixed {
  position: fixed;
}
.background {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 30em;
  position: fixed;
}