.artist h2 {
    display: flex;
    align-items: center;
    font-family: 'Questrial', sans-serif;
}
.artist img {
    height: 15vh;
}
.artist{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5vh;
    /* From https://css.glass */
background: rgba(209, 209, 209, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(209, 209, 209, 0.12);
}
.artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
}
.tabs {
    margin: auto;
}
.tabs button{
    font-size: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.36);
border-radius: 1px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.8px);
-webkit-backdrop-filter: blur(9.8px);
border: 1px solid rgba(255, 255, 255, 0.26);
}