.outside {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
}
.card {
    height: 35vh;
    display: grid;
    justify-content: center;
    margin-top: 1em;

}
.cardinside {
    width: 80%;
    display: grid;
    justify-items: center;
    margin: auto;
    padding: 1em;
}
h1 {
    font-size: 1em;
}
img {
    width: 60%;
    margin: auto;

    border-radius: 50%;
}
.titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}
.titles h1 {
    text-align: center;
  display: flex; /* added this line*/
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
}
.titles h3 {
    text-align: center;
  display: flex; /* added this line*/
  align-items: center;
  font-weight: 300;
}