.outside {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.card {

}
.cardinside {
    
    width:50%;
    margin: auto;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(240,240,240,0.8);
    backdrop-filter: blur(5px);
    border-radius:0.5em;
    margin-top: 5em;
}
img {
    width: 100%;

}
.expand {
    
}
.expand img {
    width: 30%;
}
.titles {
    width: 100%;
}
.titles h1 {
    text-align: left;
  font-size: 2em;
  font-weight: 600;
}
.titles h3 {
    text-align: left;
    font-size: 1em;
  font-weight: 450;
}
.titletext {
    display: grid;
    justify-items: center;
}
