.outside {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #0C2D48;
    
}
.cardinside img{
    width: 20vw;
}
.cardinside {
    width: 20vw;
    min-height: 20vh;
    margin: auto;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    margin-top: 5em;
    background-color: rgba(177, 212, 224, 0.8);
}
.cardinside:nth-of-type(even){
    float:right
}
img {
    width: 100%;
}
.cardinside h1 {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
}
.expand {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    font-size: 1em;
    padding: 3em;
    background-color: rgba(100, 100, 100, 0.6);

}
.fullscreen {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity as needed */
}
.expand img {
    width: 25vw;
    margin: auto;
}
.titles {
    width: 100%;
}
.titles h1 {
text-align: left;
  font-size: 1em;
  font-weight: 600;
}
.titles h3 {
    text-align: left;
    font-size: 1em;
  font-weight: 450;
}
.titletext {
    display: grid;
    justify-items: center;
}
.images{
    width: 50%;
}
