/* Import the Questrial font */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.genre {
    font-size: 2rem;
    width:30%;
    font-weight: 500;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(50, 50, 50, 0.5);
    margin: auto;
    margin-bottom: 2vh;
    /* From https://css.glass */
background: rgba(240, 240, 240, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(240, 240, 240, 0.3);
}

.outsidegenre {
    margin: auto;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: 'Questrial', sans-serif; /* Apply Questrial font */
}
.water-flow {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 400% 400%;
    animation: flow 8s infinite linear;
  }
  
  @keyframes flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  