.genres{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.genre{
    margin: auto;
    color: antiquewhite;
    border-radius: 20%;
    padding: 10px;

    display: block;
}