.tracks-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-x: scroll;  /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .tracks-container::-webkit-scrollbar { /* WebKit browsers (Chrome, Safari) */
    display: none;
  }
  
  .tracks {
    display: flex;
    flex-wrap: wrap;
  }
  
  .track {
    position: relative;
    margin: 10px;
    width: 150px; /* Adjust width as needed */
    text-align: center;
    transition: padding 0.8s ease-in-out, background 0.8s ease-in-out, box-shadow 0.8s ease-in-out, backdrop-filter 0.8s ease-in-out, border 0.8s ease-in-out;
  }
  
  .track:hover {
    padding: 1em;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.28);
  }
  
  .track img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .track p {
  }
  
  .track:hover p {
    opacity: 1;
  }
  
  .track:hover img {
    opacity: 0.8;
  }
  