.img {
    width: 40%;
    background:none;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
}
.username {
    font-size: 2em;
}
.user {
    display: grid;
    justify-items: center;
    width: 100%;
}
.login {
    text-decoration: none;
    color: black;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login:hover {
    font-size: 3em;
}